@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/mixins";

$mgg-red: #990000;
$mgg-grey: black;

@mixin menu-animation($v, $x) {
  visibility: $v;
  @if $v == visible {
    -webkit-transition: transform 0.4s;
    transition: transform 0.4s;
  } @else {
    -webkit-transition: visibility 0s 0.4s, transform 0.4s;
    transition: visibility 0s 0.4s, transform 0.4s;
  }
  transition-timing-function: ease-in-out;
  -webkit-transform: translateX($x);
  transform: translateX($x);
}

@mixin menu-item-animation($tx) {
  -webkit-transition: -webkit-transform 0.45s;
  transition: transform 0.45s;
  transition-timing-function: ease-in-out;
  -webkit-transform: translateX($tx);
  transform: translateX($tx);
}

.menu {
  .img {
    background-image: url(/img/scared-geometry.jpg);
    background-size: cover;
    box-shadow: inset -15px 0 25px -10px black;
    filter: brightness(42%) grayscale(100%) blur(2px);
  }

  .menu-button {
    cursor: pointer;
    position: fixed;
    top: 0;
    left: 0;
    padding: $gap / 2;
    z-index: 10;
    -webkit-tap-highlight-color: transparent;
    @include unselectable;
    filter: blur(0.5px);
  }

  .overlay {
    border-right: 2px solid black;
    position: fixed;
    width: 33.3333%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.9);
    z-index: 1;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    align-items: center;
    @include menu-animation(hidden, -100%);

    nav {
      margin: auto;
      min-width: 16rem;

      img {
        z-index: 1;
        align-self: flex-end;
        width: 42px;
        height: 42px;
      }

      ul {
        list-style: none;
        padding: 0;
        margin: 0 auto;
        display: block;
        height: 100%;
        position: relative;
        @include menu-item-animation(-33.3333%);

        li {
          display: flex;

          span {
            color: white;

            a {
              -webkit-transition: color 0.2s;
              transition: color 0.2s;
              text-shadow: none;
              color: white;
              font-size: 2em;
            }

            a:hover {
              color: black;
            }
          }

          span:first-child.icon {
            margin: 14px 10px auto 0;
            flex-basis: 10%;
            box-shadow: 0 0 10px $mgg-grey;
          }

          span:first-child.social-link {
            background: $mgg-grey;

            svg,
            i {
              color: white;
            }
          }
        }
      }

      ul:first-child {
        font-size: 1.5em;
        font-weight: bold;
      }

      hr {
        height: 2px;
        background: linear-gradient(to left, transparent, black, transparent);
        position: relative;
      }
    }
  }

  .overlay.menu-visible {
    @include menu-animation(visible, 0);

    nav ul {
      @include menu-item-animation(0);
    }
  }
}

@include touch {
  .menu {
    .img {
      box-shadow: none;
    }

    .overlay {
      border-left: none;
      width: 100%;
      @include menu-animation(hidden, 100%);

      nav ul {
        @include menu-item-animation(100%);
      }
    }

    .overlay.menu-visible {
      @include menu-animation(visible, 0);

      nav ul {
        @include menu-item-animation(0);
      }
    }
  }
}
