@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/mixins";

/* VARIABLES */
$mgg-grey: #555;
$mgg-red: #990000;
$mgg-red-invert: #fff;

$primary: $mgg-red;
$primary-invert: $mgg-red-invert;

/* STYLES */
.margin-top-0 {
  margin-top: 0 !important;
}

.bio {
  background-color: white;
  position: fixed;
  height: 100vh;
  top: 0;
  left: 0;
}

header,
nav {
  figure {
    margin: $gap;
    float: right;

    img {
      box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.8);
      border-radius: 1rem;
      filter: grayscale(100%);
    }
  }

  .title {
    margin: 0 $gap;
    color: black;
    text-transform: uppercase;
    text-align: right;
    filter: blur(1px);

    h1 {
      font-weight: bold;
    }

    .grey {
      color: $mgg-grey;
      font-weight: normal;
    }
  }

  .social-links {
    text-align: right;
    margin: $gap;

    .social-link {
      background: black;
      border-radius: 1em;
      width: 25px;
      height: 25px;
      display: block;
      margin: 0 0 ($gap / 2) 0;
      color: white;
      position: relative;
      float: right;
      clear: both;

      svg,
      i {
        position: absolute;
        top: 50%;
        left: 50%;
        height: 50%;
        transform: translate(-50%, -50%);
        display: block;
      }
    }
    .social-link:hover {
      background: $mgg-grey;
    }
  }
}

.bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.gradient {
  background-image: radial-gradient(farthest-corner at 0 0, transparent 5%, #fff 60%);
  bottom: -1px;
}

.img {
  background-image: url(/img/ink-well.jpg);
  filter: invert(100%);
}

.profile {
  width: 40%;
}

.art {
  img {
    border-radius: 1em;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.6);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    @include unselectable;
  }

  img:hover {
    box-shadow: 0 0 50px -10px $mgg-red;
  }
}

.column.art-gallery {
  padding: 1em 2em;
}

@include mobile {
  .bio {
    position: relative;
    height: auto;
  }

  .profile {
    width: 25%;
  }

  .column.art-gallery {
    padding: 3em;
  }

  header {
    figure {
      float: none;
      margin: $gap auto;
    }

    .title {
      text-align: center;

      h1 {
        display: inline-block;
      }
    }

    .social-links {
      text-align: center;
      margin: $gap;

      .social-link {
        display: inline-block;
        margin: 0 $gap / 2;
        float: none;
        clear: none;
      }
    }
  }

  .gradient {
    background-image: radial-gradient(farthest-corner at 0 0, transparent 5%, #fff 70%);
  }
}

@import "~bulma";
