@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/mixins";

/* VARIABLES */
$mgg-grey: #555555;
$mgg-red: #990000;
$mgg-red-invert: #ffffff;

$primary: $mgg-red;
$primary-invert: $mgg-red-invert;

@mixin gradient($color, $percent) {
  background-image: radial-gradient(
    farthest-corner at 0 0,
    black 10%,
    transparent 30%,
    $color $percent
  );
}

/* STYLES */
.bio {
  background-color: white;
  position: fixed;
  height: 100vh;
  top: 0;
  left: 0;
}

header,
nav {
  figure {
    margin: $gap;
    float: right;

    img {
      box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.8);
      border-radius: 1rem;
      filter: grayscale(100%);
    }
  }

  .title {
    margin: 0 $gap;
    color: black;
    text-transform: uppercase;
    text-align: right;
    filter: blur(1px);

    a {
      transition: color 0.2s ease-in;
      color: black;
      h1 {
        font-weight: bold;
      }

      .grey {
        color: $mgg-grey;
        font-weight: normal;
      }
    }
    a:hover {
      color: $mgg-grey;
    }
  }

  .social-links {
    text-align: right;
    margin: $gap;

    .social-link {
      background: black;
      border-radius: 1em;
      width: 25px;
      height: 25px;
      display: block;
      margin: 0 0 ($gap / 2) 0;
      color: white;
      position: relative;
      float: right;
      clear: both;
      box-shadow: 0 0 10px $mgg-grey;
      transition: background-color 0.2s ease-in;

      svg,
      i {
        position: absolute;
        top: 50%;
        left: 50%;
        height: 50%;
        transform: translate(-50%, -50%);
        display: block;
      }
    }

    .social-link:hover {
      background: $mgg-grey;
    }
  }
}

.bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.gradient {
  @include gradient(white, 60%);
  bottom: -1px;
}

.img {
  background-image: url(/img/ink-well.jpg);
  filter: invert(100%);
}

.profile {
  width: 40%;
}

.art {
  img {
    border-radius: 0.25em;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.6);
    -webkit-tap-highlight-color: transparent;
    transition: box-shadow 0.3s ease-in;
    @include unselectable;
  }

  img:hover {
    box-shadow: 0 0 50px -10px black;
  }
}

.column.art-gallery {
  padding: 1em 2em;

  .info {
    padding: 1em 0;
  }
}

.page-not-found {
  display: flex;
  height: 98vh;

  h1 {
    font-size: 2em;
    font-weight: bold;
    margin: auto;
    padding-bottom: 2vh;
    color: black;
    filter: blur(2px);
    text-transform: uppercase;
  }
}

.art-post {
  .info {
    padding: 0 $gap;
    //text-align: right;

    .title {
      font-size: 1em;
      color: $mgg-red;
      margin-bottom: 0;
    }
  }

  .description {
    color: black;
    filter: drop-shadow(1px 1px 5px white);
  }

  figure {
    img {
      border-radius: 0.25em;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
    }
  }
}

.column.template {
  padding-bottom: 0;

  main {
    position: relative;
    min-height: 100vh;

    .gradient {
      background-image: radial-gradient(farthest-corner at 0 0, transparent 70%, black 120%);
      bottom: 0;
    }
  }
}

.columns:not(:last-child).last {
  margin-bottom: 0;
}

@include mobile {
  .bio {
    position: relative;
    height: auto;
  }

  .profile {
    width: 25%;
  }

  .column.art-gallery {
    padding: 3em;
  }

  .art-post.content {
    figure {
      margin: 0;
    }
  }

  header {
    figure {
      float: none;
      margin: $gap auto;
    }

    .title {
      text-align: center;

      h1 {
        display: inline-block;
      }
    }

    .social-links {
      text-align: center;
      margin: $gap;

      .social-link {
        display: inline-block;
        margin: 0 $gap / 2;
        float: none;
        clear: none;
      }
    }
  }

  .gradient {
    @include gradient(white, 70%);
  }
}

@import "~bulma";
